/* &display=swap */
@import "null.css";

/*======================================================================================================*/

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	overflow-x: hidden;
}

/*======================================================================================================*/



.wrapper {
	background: rgba(73, 73, 95, 0.822);
}
.main {}
.main__container {
	padding: 100px;
}
.camaro {
	
}
.camaro__container {	
}
.wheels {
	position: relative;
	top: 672px;
	left: 349px;
	
}
.wheel {
	z-index: 41;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/* background: rgb(0, 0, 0); */
	border: 25px solid rgb(0, 0, 0);
}
.wheel-one {
	position: absolute;
	bottom: 0px;
	left: 0;
	transform: rotate(7deg);
}
.wheel-two {
	position: absolute;
	bottom: 0;
	left: 877px;
	transform: rotate(115deg);

}
/* =========================================================================== */
.wheel__disk {}
.disk__form {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: rgba(85, 85, 85, 0);
	/* border: 1px solid rgb(255, 255, 255); */
	outline: 8px solid rgb(231, 231, 231);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -70px;
	}
.disk__form::before {
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(231, 231, 231);
	position: absolute;
	top: 55px;
	right: 70px;
	transform: rotate(-324deg);
}
.disk__form::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(231, 231, 231);
	position: absolute;
	top: 55px;
	left: 69px;
	transform: rotate(324deg);
}
.disk__center {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(231, 231, 231);
	position: absolute;
	top: 0px;
	left: 54px;
	transform: rotate(180deg);
}
.disk__center::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(231, 231, 231);
	position: absolute;
	bottom: -57px;
	right: 11px;
	transform: rotate(72deg);
}
.disk__center::before {
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(231, 231, 231);
	position: absolute;
	bottom: -57px;
	left: 11px;
	transform: rotate(-72deg);
}
.disk__bolt {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: rgb(231, 231, 231);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px 0 0 -14px;
	}
/* =========================================================================== */
.brake {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: transparent;
	border: 20px solid rgb(148, 148, 148);
	position: relative;
	top: 0;
	left: 0;
	margin: -40px 0 0 -40px;
	z-index: 40;
}
.brake::after {
	content: "";
	width: 60px;
	height: 20px;
	background: red;
	position: absolute;
	bottom: 10px;
	left: 25px;
	border-radius: 20px 20px 3px 3px;
	transform: rotate(90deg);
}
.brake_one {
	position: relative;
	top: -20px;
	left: 100px;
}
.brake_two {
	position: relative;
	top: -60px;
	left: 977px;
	transform: rotate(180deg);
}
/* =========================================================================== */
.arc {
	position: relative;
	top: 461px;
	left: 336px;
	width: 225px;
	height: 150px;
	perspective: 300px;
	perspective-origin: center;
	z-index: 100;
}
.arc__body {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 70px 70px 0px 0px;
	border: 7px solid rgb(231, 231, 231);
	border-bottom: transparent;
	width: 100%;
	height: 100%;
	transform: rotateX(39deg);
}
.arc_two {
	position: relative;
	top: 148px;
	left: 1212px;
	transform: rotate(-2deg);
}
.arc_two::before {
	content: "";
	position: absolute;
	right: 256px;
	top: 133px;
	width: 590px;
	height: 6px;
	border-radius: 50px;
	background: rgb(231, 231, 231);
	transform: rotate(1deg);
}
.arc_two::after {
	content: "";
	position: absolute;
	right: 60px;
	top: -25px;
	width: 150px;
	height: 50px;
	background: rgb(11, 107, 32);
	
}
.arc_one::after {
	content: "";
	position: absolute;
	right: 50px;
	top: -24.5px;
	width: 150px;
	height: 50px;
	background: rgb(11, 107, 32);
	
}
.shadow {
	position: relative;
	top: 311px;
	left: 336px;
	width: 225px;
	height: 150px;
	perspective: 300px;
	perspective-origin: center;
	z-index: 39;
	/* background: rgba(255, 0, 0, 0.384); */
}
.shadow-arc {
	background: rgba(0, 0, 0, 0.534);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 70px 70px 0px 0px;
	border: transparent;
	border-bottom: transparent;
	width: 100%;
	height: 100%;
	transform: rotateX(39deg);
}
.shadow_two {
	position: relative;
	top: -2px;
	left: 1212px;
	transform: rotate(-2deg);
}
.shadow_two::after {
	content: "";
	background: rgba(0, 0, 0, 0.534);
	position: absolute;
	border-radius: 0 0 200% 0;
	width: 25px;
	height: 10px;
	top: 144px;
	left: -14px;
	transform: rotate(-1deg) skew(-20deg);
}
/* ==========================+++++++++++++++++++++====================== */
.shadow_one::after {
	content: "";
	background: rgba(0, 0, 0, 0.534);
	position: absolute;
	border-radius: 0 0 0% 250%;
	width: 27px;
	height: 11px;
	top: 144px;
	right: -15px;
	transform: rotate(-0deg) skew(20deg);
}
.hood {
	width: 750px;
	height: 100px;
	/* background: rgba(155, 0, 0, 0.534); */
	position: relative;
	top: -200px;
	left: 199px;
	z-index: 30;
	overflow: hidden;
	border-radius: 65% 5% 0px 0px;
	transform: rotate(-0deg);
	border-top: 4px solid rgb(11, 73, 24);
}

.hood__item {
	width: 750px;
	height: 100px;
	border-radius: 5% 0px 0px 0px;
	background: rgb(11, 107, 32);
	position: absolute;
	top: 0px;
	right: 30px;
}
.hood-top {
	width: 600px;
	height: 200px;
	/* background: rgba(155, 0, 0, 0.534); */
	position: relative;
	top: -1685px;
	left: 169px;
	z-index: 29;
	overflow: hidden;
	/* border-radius: 70% 0px 0px 0px; */
	/* transform: rotate(-1deg); */
}

.hood-top__item {
	width: 390px;
	height: 60px;
	border-radius: 180% 0px 180% 0px;
	background: rgb(11, 107, 32);
	border: 4px solid rgb(11, 73, 24);
	position: absolute;
	top: 65px;
	right: 88px;
}
.hood-top::before {
	content: "";
	width: 100px;
	height: 30px;
	border-radius: 40% 140% 0% 0px;
	background: rgb(11, 107, 32);
	position: absolute;
	top: 72px;
	right: 25px;
	transform: rotate(5deg) skew(-40deg);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.bumper-one {
	width: 400px;
	height: 150px;
	position: relative;
	/* background: rgba(170, 22, 42, 0.486); */
	top: -235px;
	left: 179px;
	z-index: 29;
	overflow: hidden;
	border-radius: 0px 0px 0% 0%;
	transform: rotate(-0deg);
}

.bumper-one__item {
	width: 170px;
	height: 90px;
	border-radius: 15% 0px 0px 20%;
	background: rgb(11, 107, 32);
	position: absolute;
	top: 0px;
	left: 20px;
}

.bumper-one__item::before {
	content: "";
	width: 170px;
	height: 100px;
	border-radius: 15% 0px 0px 65%;
	background: rgb(11, 107, 32);
	position: absolute;
	top: 40px;
	left: 20px;
}
.bumper-one__item::after {
	content: "";
	width: 25px;
	height: 30px;
	border-radius: 35% 15% 15% 35%;
	background: rgb(231, 231, 231);
	position: absolute;
	top: 59px;
	left: -2px;
}
.bumper-two {
	width: 150px;
	height: 270px;
	position: relative;
	/* background: rgba(190, 2, 2, 0.5); */
	top: -862px;
	left: 1453px;
	z-index: 38;
	overflow: hidden;
	/* border-radius: 0px 0px 100% 0px; */
	transform: rotate(60deg);
}
.bumper-two__item {
	width: 100px;
	height: 230px;
	border-radius: 70% 70% 180% 0px;
	background: rgb(11, 107, 32);
	position: absolute;
	bottom: -10px;
	right: 5px;
	transform: skew(-7deg);
	
}
.bumper-two__item::before {
	content: "";
	width: 45px;
	height: 30px;
	border-radius: 15% 35% 35% 15%;
	background: rgb(231, 231, 231);
	position: absolute;
	top: -24px;
	right: 27px;
	transform: rotate(-65deg);
	z-index: 0;
}
/* .bumper-two__item::after {
	content: "";
	width: 45px;
	height: 30px;
	border-radius: 0% 35% 35% 15%;
	background: rgb(163, 62, 62);
	position: absolute;
	top: 126px;
	right: -10px;
	transform: rotate(-19deg);
	z-index: 0;
} */

.car-body {
	width: 1500px;
	height: 380px;
	position: relative;
	/* background: rgba(179, 0, 0, 0.384); */
	top: -550px;
	left: 200px;
	z-index: 19;
	overflow: hidden;
	/* border-radius: 0px 0px 450% 0%; */
	/* transform: rotate(-2deg); */
}
.car-body::before {
	content: "";
	width: 260px;
	height: 120px;
	border-radius: 0px 0px 0px 0%;
	/* background: rgba(0, 255, 255, 0); */
	background: rgb(11, 107, 32);
	position: absolute;
	top: 172px;
	right: 247px;
	/* transform: skew(5deg); */
	transform: rotate(-2deg);
}
.car-body::after {
	content: "";
	width: 160px;
	height: 60px;
	border-radius: 0px 0 100%  0%;
	/* border-bottom: 5px solid rgb(11, 73, 24); */
	background: rgb(11, 107, 32);
	position: absolute;
	top: 110px;
	right: 36px;
	transform: skew(0deg);
	transform: rotate(-25deg);
}

.car-body__item {
	width: 680px;
	height: 180px;
	border-radius: 0px 0px 15% 18%;
	/* background: rgba(0, 255, 255, 0); */
	background: rgb(11, 107, 32);
	border-bottom: 10px solid rgb(11, 73, 24);
	position: absolute;
	top: 148px;
	left: 344px;
	/* transform: skew(5deg); */
	transform: rotate(-1deg);
	z-index: 500;
}
.car-body__item::after {
	content: "";
	width: 880px;
	height: 175px;
	border-radius: 0px 0px 0px 0%;
	/* background: rgba(0, 255, 255, 0); */
	background: rgb(11, 107, 32);
	position: absolute;
	top: -22px;
	left: -227px;
	/* transform: skew(5deg); */
	transform: rotate(1deg);
}
.car-body__item::before {
	content: "";
	width: 360px;
	height: 75px;
	border-radius: 0px 0px 0px 0%;
	/* background: rgba(0, 255, 255, 0); */
	background: rgb(11, 107, 32);
	position: absolute;
	bottom: 145px;
	left: 190px;
	/* transform: skew(5deg); */
	transform: rotate(2deg);
	z-index: 20;
}
.trunk {
	width: 730px;
	height: 200px;
	position: relative;
	/* background: rgba(179, 0, 0, 0.384); */
	top: -1170px;
	left: 907px;
	z-index: 37;
	overflow: hidden;
	border-radius: 0% 0% 30px 0%;
	/* transform: rotate(-3deg); */
}
/* .trunk__item-two {
	width: 300px;
	height: 135px;
	border-radius: 0px 0px 0px 0px;
	background: rgb(107, 93, 11);
	position: absolute;
	bottom: 20px;
	left: 0px;
	transform: rotate(-3deg);
} */
.trunk__item-one {
	width: 640px;
	height: 150px;
	border-radius: 60% 67% 0px 0px;
	background: rgb(11, 107, 32);
	border-top: 4px solid rgb(11, 73, 24);
	position: absolute;
	top: 45px;
	right: -43px;
}
.trunk__item-therr {}


.roof {
	width: 900px;
	height: 300px;
	position: relative;
	/* background: rgba(179, 0, 0, 0.185); */
	top: -1450px;
	left: 650px;
	z-index: 3;
	overflow: hidden;
	border-radius: 0% 0% 0% 0%;
	/* transform: rotate(-3deg); */
}
.roof::before {
	content: "";
	width: 147px;
	height: 2px;
	border-radius: 0% 0% 0px 0px;
	background: rgb(231, 231, 231);
	/* border-bottom: 50px solid rgb(255, 0, 0); */
	position: absolute;
	top: 92px;
	left: 71px;
	transform: rotate(-44deg) skew(46deg);
	z-index: 10;
}
.roof::after {
	content: "";
	width: 335px;
	height: 2px;
	border-radius: 00% 0% 0px 0px;
	background: rgb(231, 231, 231);
	/* border-bottom: 50px solid rgb(255, 0, 0); */
	position: absolute;
	top: 145px;
	left: 93px;
	transform: rotate(1deg);
	z-index: 10;
}

.roof__item_one {
	width: 420px;
	height: 27px;
	border-radius: 200% 340% 0px 60px;
	background: rgb(11, 107, 32);
	border-bottom: 2px solid rgb(231, 231, 231);
	position: absolute;
	top: 16px;
	left: 167px;
	z-index: ;
}
.roof__item_one::before {
	content: "";
	width: 178px;
	height: 110px;
	border-radius: 0% 20% 0px 0px;
	background: rgb(11, 107, 32);
	position: absolute;
	/* border-right: 5px solid rgb(11, 73, 24); */
	top: 9px;
	left: 352px;
	transform: rotate(0deg) skew(-116deg);
}
.roof__item_one::after {
	content: "";
	width: 190px;
	height: 120px;
	border-radius: 0% 0% 0px 0px;
	/* background: rgb(11, 45, 107); */
	position: absolute;
	border-right: 45px solid rgb(11, 107, 32);
	border-bottom: 20px solid rgb(11, 107, 32);
	top: 25px;
	left: 207px;
	transform: rotate(-12deg) skew(-140deg);
	z-index: 2;
}
.roof__item_two {
	width: 180px;
	height: 12px;
	border-radius: 0% 0% 0px 0px;
	background: rgb(11, 107, 32);
	/* border-bottom: 2px solid rgb(201, 201, 201); */
	border-top: 2px solid rgb(231, 231, 231);
	position: absolute;
	top: 93px;
	left: 38px;
	transform: rotate(-44deg) skew(45deg);
	z-index: 6;
}
.roof__item_two::after {
	content: "";
	width: 31px;
	height: 15px;
	border-radius: 0% 240% 10px 0px;
	background: rgb(64, 129, 78);
	position: absolute;
	border-bottom: 6px solid rgb(231, 231, 231);
	top: -24px;
	left: 9px;
	transform: rotate(-75deg) skew(20deg);
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.roof__item_two::before {
	content: "";
	width: 15px;
	height: 7px;
	border-radius: 0% 0% 0px 0px;
	background: rgb(11, 107, 32);
	position: absolute;
	/* border-right: 45px solid rgb(11, 107, 32);
	border-bottom: 20px solid rgb(11, 107, 32); */
	top: -3px;
	left: 173px;
	transform: rotate(-3deg) skew(0deg);
}

/* .window {
	position: relative;
	top: -1950px;
	left: 600px;
	width: 700px;
	height: 200px;
	background: rgba(161, 13, 13, 0.411);
}

.window__item {} */

.window {
	position: relative;
	top: -1925px;
	left: 742px;
	width: 510px;
	height: 130px;
	border-radius: 0 160px 0 0;
	background: rgba(33, 113, 179, 0.219);
	transform: skew(-49deg);
	/* z-index: 100; */
}
.window__item {
	position: relative;
	top: 61px;
	left: 250px;
	width: 180px;
	height: 2px;
	border-radius: 0 0px 0 0;
	background: rgb(231, 231, 231);
	transform: rotate(43deg) skew(0deg);
}
.window::after {
	content: "";
	position: absolute;
	top: 110px;
	left: 389px;
	width: 120px;
	height: 2px;
	border-radius:  0%  0% 0% 0% ;
	background: rgb(231, 231, 231);
	transform: rotate(-15.5deg) skew(49deg);
}
