/* &display=swap */
@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap");
.wrapper {
	max-width: 1920px;
	margin: 0px auto;
	min-height: 100%;
	overflow-x: hidden;
}
body {
	font-family: "Saira", sans-serif;
}
.main {}
.main__container {
	padding: 230px 0px 300px 50px;
	background: url('../img/02.jpg') 0 -300px / 1920px no-repeat;
}
.camaro {
	margin-top: -160px;
}
.camaro__container {}
.wheels {
	position: relative;
	top: 672px;
	left: 349px;
}
.wheel {
	z-index: 41;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 25px solid rgb(0, 0, 0);
}
.wheel-one {
	position: absolute;
	bottom: 0px;
	left: 0px;
	transform: rotate(7deg);
}
.wheel-two {
	position: absolute;
	bottom: 0px;
	left: 877px;
	transform: rotate(115deg);
}
.wheel__disk {}
.disk__form {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: rgba(85, 85, 85, 0);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -70px 0px 0px -70px;
}
.disk__form::before {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(216, 216, 216);
	position: absolute;
	top: 55px;
	right: 70px;
	transform: rotate(-324deg);
}
.disk__form::after {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(216, 216, 216);
	position: absolute;
	top: 55px;
	left: 69px;
	transform: rotate(324deg);
}
.disk__center {
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(216, 216, 216);
	position: absolute;
	top: 0px;
	left: 54px;
	transform: rotate(180deg);
}
.disk__center::after {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(216, 216, 216);
	position: absolute;
	bottom: -57px;
	right: 11px;
	transform: rotate(72deg);
}
.disk__center::before {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 80px solid rgb(216, 216, 216);
	position: absolute;
	bottom: -57px;
	left: 11px;
	transform: rotate(-72deg);
}
.disk__bolt {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgb(172, 172, 172);
	border: 6px solid rgb(216, 216, 216);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0px 0px -15px;
}
.disk__bolt::before {
	content: "";
	width: 156px;
	height: 156px;
	border-radius: 50%;
	border: 20px solid rgb(216, 216, 216);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -78px 0px 0px -78px;
}
.disk__bolt::after {
	content: "";
	width: 144px;
	height: 144px;
	border-radius: 50%;
	border-right: 4px solid rgb(172, 172, 172);
	border-left: 4px solid rgb(172, 172, 172);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -72px 0px 0px -72px;
}
.brake {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: transparent;
	border: 20px solid rgb(148, 148, 148);
	position: relative;
	top: 0px;
	left: 0px;
	margin: -40px 0 0 -40px;
	z-index: 40;
}
.brake::after {
	content: "";
	width: 60px;
	height: 20px;
	background: rgb(216, 0, 0);
	position: absolute;
	bottom: 10px;
	left: 25px;
	border-radius: 20px 20px 3px 3px;
	transform: rotate(90deg);
}
.brake_one {
	position: relative;
	top: -20px;
	left: 100px;
}
.brake_two {
	position: relative;
	top: -60px;
	left: 977px;
	transform: rotate(180deg);
}
.arc {
	position: relative;
	top: 461px;
	left: 336px;
	width: 225px;
	height: 150px;
	perspective: 300px;
	perspective-origin: center;
	z-index: 100;
}
.arc__body {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 70px 70px 0px 0px;
	border: 7px solid rgb(216, 216, 216);
	border-bottom: transparent;
	width: 100%;
	height: 100%;
	transform: rotateX(39deg);
}
.arc_two {
	position: relative;
	top: 148px;
	left: 1212px;
	transform: rotate(-2deg);
}
.arc_two::before {
	content: "";
	position: absolute;
	right: 256px;
	top: 133px;
	width: 590px;
	height: 6px;
	border-radius: 50px;
	background: rgb(216, 216, 216);
	border-bottom: 2px solid rgb(172, 172, 172);
	transform: rotate(1deg);
}
.shadow {
	position: relative;
	top: 311px;
	left: 336px;
	width: 225px;
	height: 150px;
	perspective: 300px;
	perspective-origin: center;
	z-index: 39;
}
.shadow-arc {
	background: rgba(0, 0, 0, 0.534);
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 70px 70px 0px 0px;
	border: transparent;
	border-bottom: transparent;
	width: 100%;
	height: 100%;
	transform: rotateX(39deg);
}
.shadow_two {
	position: relative;
	top: -2px;
	left: 1212px;
	transform: rotate(-2deg);
}
.shadow_two::after {
	content: "";
	background: rgba(0, 0, 0, 0.534);
	position: absolute;
	border-radius: 0% 0% 200% 0%;
	width: 25px;
	height: 10px;
	top: 144px;
	left: -14px;
	transform: rotate(-1deg) skew(-20deg);
}
.shadow_one::after {
	content: "";
	background: rgba(0, 0, 0, 0.534);
	position: absolute;
	border-radius: 0% 0% 0% 250%;
	width: 27px;
	height: 11px;
	top: 144px;
	right: -15px;
	transform: skew(20deg);
}
.hood {
	width: 750px;
	height: 100px;
	position: relative;
	top: -195px;
	left: 199px;
	z-index: 30;
	overflow: hidden;
	border-radius: 60% 5% 0% 0%;
	transform: rotate(0deg);
	border-top: 4px solid rgb(23, 114, 90);
}
.hood__item {
	width: 750px;
	height: 100px;
	border-radius: 5% 0px 0px 0px;
	background: rgb(14, 64, 51);
	position: absolute;
	top: 0px;
	right: 30px;
}
.hood-top {
	width: 600px;
	height: 200px;
	position: relative;
	top: -1685px;
	left: 169px;
	z-index: 29;
	overflow: hidden;
}
.hood-top__item {
	width: 390px;
	height: 60px;
	border-radius: 180% 0% 180% 0%;
	background: rgb(14, 64, 51);
	border: 4px solid rgba(23, 114, 90, 0.685);
	position: absolute;
	top: 65px;
	right: 88px;
}
.hood-top::before {
	content: "";
	width: 100px;
	height: 30px;
	border-radius: 40% 140% 0% 0%;
	background: rgb(14, 64, 51);
	position: absolute;
	top: 72px;
	right: 25px;
	transform: rotate(5deg) skew(-40deg);
}
.bumper-one {
	width: 400px;
	height: 150px;
	position: relative;
	top: -235px;
	left: 179px;
	z-index: 29;
	overflow: hidden;
	border-radius: 0px 0px 0% 0%;
	transform: rotate(-0deg);
}
.bumper-one__item {
	width: 170px;
	height: 90px;
	border-radius: 15% 0px 0px 20%;
	background: rgb(14, 64, 51);
	position: absolute;
	top: 0px;
	left: 20px;
}
.bumper-one__item::before {
	content: "";
	width: 170px;
	height: 100px;
	border-radius: 15% 0px 0px 65%;
	background: rgb(14, 64, 51);
	position: absolute;
	top: 40px;
	left: 20px;
}
.bumper-one__item::after {
	content: "";
	width: 25px;
	height: 30px;
	border-radius: 35% 15% 15% 35%;
	background: rgb(216, 216, 216);
	border-bottom: 4px solid rgb(172, 172, 172);
	position: absolute;
	top: 59px;
	left: -2px;
}
.bumper-two {
	width: 150px;
	height: 270px;
	position: relative;
	top: -862px;
	left: 1453px;
	z-index: 38;
	overflow: hidden;
	transform: rotate(60deg);
}
.bumper-two__item {
	width: 100px;
	height: 230px;
	border-radius: 70% 70% 180% 0px;
	background: rgb(14, 64, 51);
	position: absolute;
	bottom: -10px;
	right: 5px;
	transform: skew(-7deg);
}
.bumper-two__item::before {
	content: "";
	width: 40px;
	height: 30px;
	border-radius: 15% 35% 35% 15%;
	background: rgb(216, 216, 216);
	border-bottom: 4px solid rgb(172, 172, 172);
	position: absolute;
	top: -28px;
	right: 27px;
	transform: rotate(-65deg);
	z-index: 0;
}
.car-body {
	width: 1500px;
	height: 380px;
	position: relative;
	top: -550px;
	left: 200px;
	z-index: 19;
	overflow: hidden;
}
.car-body::before {
	content: "";
	width: 260px;
	height: 120px;
	border-radius: 0px 0px 0px 0%;
	background: rgb(14, 64, 51);
	position: absolute;
	top: 172px;
	right: 247px;
	transform: rotate(-2deg);
}
.car-body::after {
	content: "";
	width: 160px;
	height: 60px;
	border-radius: 0px 0px 100% 0%;
	background: rgb(14, 64, 51);
	position: absolute;
	top: 110px;
	right: 36px;
	transform: rotate(-25deg) skew(0deg);
}
.car-body__item {
	width: 680px;
	height: 180px;
	border-radius: 0px 0px 15% 18%;
	background: rgb(14, 64, 51);
	border-bottom: 10px solid rgba(23, 114, 90, 0.233);
	position: absolute;
	top: 148px;
	left: 344px;
	transform: rotate(-1deg);
	z-index: 500;
}
.car-body__item::after {
	content: "";
	width: 880px;
	height: 175px;
	border-radius: 0px 0px 0px 0px;
	background: rgb(14, 64, 51);
	position: absolute;
	top: -22px;
	left: -227px;
	transform: rotate(1deg);
}
.car-body__item::before {
	content: "";
	width: 400px;
	height: 75px;
	border-radius: 0px 0px 0px 0px;
	background: rgb(14, 64, 51);
	position: absolute;
	bottom: 145px;
	left: 190px;
	transform: rotate(2deg);
	z-index: 20;
}
.trunk {
	width: 530px;
	height: 200px;
	position: relative;
	top: -1170px;
	left: 1107px;
	z-index: 37;
	overflow: hidden;
	border-radius: 0% 0% 30px 0%;
}
.trunk__item {
	width: 640px;
	height: 150px;
	border-radius: 60% 67% 0px 0px;
	background: rgb(14, 64, 51);
	border-top: 4px solid rgb(23, 114, 90);
	position: absolute;
	top: 45px;
	right: -43px;
}
.roof {
	width: 900px;
	height: 300px;
	position: relative;
	top: -1450px;
	left: 650px;
	z-index: 3;
	overflow: hidden;
}
.roof::before {
	content: "";
	width: 147px;
	height: 2px;
	border-radius: 0% 0% 0px 0px;
	background: rgb(216, 216, 216);
	position: absolute;
	top: 92px;
	left: 71px;
	transform: rotate(-44deg) skew(46deg);
	z-index: 10;
}
.roof::after {
	content: "";
	width: 335px;
	height: 2px;
	border-radius: 0% 0% 0px 0px;
	background: rgb(216, 216, 216);
	position: absolute;
	top: 145px;
	left: 93px;
	transform: rotate(1deg);
	z-index: 10;
}
.roof__item_one {
	width: 420px;
	height: 27px;
	border-radius: 200% 340% 0px 60px;
	background: rgb(14, 64, 51);
	border-bottom: 2px solid rgb(216, 216, 216);
	position: absolute;
	top: 16px;
	left: 167px;
}
.roof__item_one::before {
	content: "";
	width: 178px;
	height: 110px;
	border-radius: 0px 20% 0px 0px;
	background: rgb(14, 64, 51);
	position: absolute;
	top: 9px;
	left: 352px;
	transform: skew(-116deg);
}
.roof__item_one::after {
	content: "";
	width: 190px;
	height: 120px;
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	border-right: 45px solid rgb(14, 64, 51);
	border-bottom: 20px solid rgb(14, 64, 51);
	top: 25px;
	left: 207px;
	transform: rotate(-12deg) skew(-140deg);
	z-index: 2;
}
.roof__item_two {
	width: 180px;
	height: 12px;
	background: rgb(14, 64, 51);
	border-top: 2px solid rgb(216, 216, 216);
	position: absolute;
	top: 93px;
	left: 38px;
	transform: rotate(-44deg) skew(45deg);
	z-index: 6;
}
.roof__item_two::after {
	content: "";
	width: 31px;
	height: 15px;
	border-radius: 0% 240% 10px 0px;
	background: rgb(14, 64, 51);
	position: absolute;
	border-bottom: 6px solid rgb(216, 216, 216);
	top: -24px;
	left: 9px;
	transform: rotate(-75deg) skew(20deg);
}
.roof__item_two::before {
	content: "";
	width: 15px;
	height: 7px;
	border-radius: 0% 0% 0px 0px;
	background: rgb(14, 64, 51);
	position: absolute;
	top: -3px;
	left: 173px;
	transform: rotate(-3deg) skew(0deg);
}
.window {
	position: relative;
	top: -1925px;
	left: 742px;
	width: 510px;
	height: 130px;
	border-radius: 0px 160px 0px 0px;
	background: rgba(0, 138, 252, 0.205);
	transform: skew(-49deg);
	z-index: 1;
}
.window__item {
	position: relative;
	top: 61px;
	left: 250px;
	width: 180px;
	height: 2px;
	background: rgb(216, 216, 216);
	transform: rotate(43deg) skew(0deg);
}
.window::after {
	content: "";
	position: absolute;
	top: 110px;
	left: 389px;
	width: 120px;
	height: 2px;
	border-radius: 0% 0% 0% 0%;
	background: rgb(216, 216, 216);
	transform: rotate(-15deg) skew(49deg);
}
.door {
	position: relative;
	top: -1935px;
	left: 642px;
	width: 510px;
	height: 230px;
	z-index: 100;
}
.door__item_one {
	position: relative;
	top: 193px;
	left: 59px;
	width: 393px;
	height: 2px;
	border-radius: 0px 0px 50px 50px;
	background: rgba(0, 0, 0, 0.37);
	transform: rotate(-1deg);
}
.door__item_one:before {
	content: "";
	position: absolute;
	top: -59px;
	left: -68px;
	width: 119px;
	height: 2px;
	border-radius: 0px 0px 50px 50px;
	background: rgba(0, 0, 0, 0.37);
	transform: rotate(81deg);
}
.door__item_one::after {
	content: "";
	position: absolute;
	top: -151px;
	left: -40px;
	width: 73px;
	height: 2px;
	border-radius: 0px 0px 50px 50px;
	background: rgba(0, 0, 0, 0.37);
	transform: rotate(114deg);
}
.door::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 64px;
	width: 37px;
	height: 2px;
	border-radius: 0% 0px 0px 0px;
	background: rgba(0, 0, 0, 0.37);
	transform: rotate(153deg);
}
.door::before {
	content: "";
	position: absolute;
	bottom: 95px;
	right: 4px;
	width: 111px;
	height: 2px;
	border-radius: 50px 50px 0px 0px;
	background: rgba(0, 0, 0, 0.37);
	transform: rotate(89deg);
}
.door__item_two {
	position: relative;
	top: 38px;
	left: 406px;
	width: 75px;
	height: 2px;
	border-radius: 50px 50px 0px 0px;
	background: rgba(0, 0, 0, 0.37);
	transform: rotate(80deg);
}
.door__item_two:before {
	content: "";
	position: absolute;
	top: 35px;
	right: 27px;
	width: 60px;
	height: 4px;
	border-radius: 0px 0px 50px 50px;
	border-top: 2px solid rgb(172, 172, 172);
	background: rgb(216, 216, 216);
	transform: rotate(97deg);
	z-index: 2;
}
.door__item_two::after {
	content: "";
	position: absolute;
	top: 9px;
	right: 42px;
	width: 15px;
	height: 15px;
	border-radius: 50% 130% 50% 130%;
	border: 5px solid rgb(216, 216, 216);
	background: rgb(172, 172, 172);
	transform: rotate(55deg);
	z-index: 1;
}
.door__item_three {
	position: relative;
	top: 40px;
	left: 411px;
	width: 11px;
	height: 11px;
	border-radius: 50px;
	border: 4px solid rgb(216, 216, 216);
	background: rgb(172, 172, 172);
	transform: rotate(83deg);
}
.door__item_three::before {
	content: "";
	position: absolute;
	top: -70px;
	left: -157px;
	width: 48px;
	height: 2px;
	border-radius: 50px 50px 0px 0px;
	transform: rotate(-58deg);
	background: rgb(216, 216, 216);
}
.door__item_three::after {
	content: "";
	position: absolute;
	top: -124px;
	left: -135px;
	width: 97px;
	height: 2px;
	border-radius: 200% 50px 0px 0px;
	transform: rotate(-45deg);
	background: rgb(216, 216, 216);
}
.logo-one {
	position: relative;
	bottom: 2088px;
	left: 611px;
	transform: rotate(-1deg) skew(20deg);
	z-index: 99;
}
.logo-one img {
	width: 52px;
}
.logo-two {
	display: inline-block;
	position: relative;
	bottom: 2100px;
	left: 208px;
	z-index: 500;
	transform: rotate(-1deg);
	z-index: 99;
}
.logo-two::before {
	content: "";
	position: absolute;
	left: 1040px;
	top: -43px;
	width: 150px;
	height: 50px;
	background: rgb(14, 64, 51);
}
.logo-two::after {
	content: "";
	position: absolute;
	left: 165px;
	top: -44px;
	width: 150px;
	height: 50px;
	background: rgb(14, 64, 51);
}
.logo__item {
	font-size: 14px;
	color: rgb(214, 214, 214);
	transform: skew(-25deg);
}
.logo__item_one {
	font-size: 16px;
	color: rgb(216, 0, 0);
}
.logo__item_two {
	font-size: 18px;
}
.decor {
	width: 8px;
	height: 76px;
	position: relative;
	background: rgb(23, 114, 90);
	border-right: 1px solid rgb(216, 216, 216);
	top: -2124px;
	left: 1175px;
	z-index: 100;
	border-radius: 150% 0% 150% 0%;
	transform: rotate(2deg) skew(-20deg);
	z-index: 99;
}
.decor::before {
	content: "";
	width: 8px;
	height: 76px;
	position: absolute;
	background: rgb(23, 114, 90);
	border-right: 1px solid rgb(216, 216, 216);
	top: 0px;
	left: 12px;
	border-radius: 150% 0% 150% 0%;
	transform: rotate(0deg) skew(-0deg);
}
.decor::after {
	content: "";
	width: 8px;
	height: 76px;
	position: absolute;
	background: rgb(23, 114, 90);
	border-right: 1px solid rgb(216, 216, 216);
	top: 0px;
	left: -12px;
	border-radius: 150% 0 150% 0;
	transform: rotate(0deg) skew(-0deg);
}
.decor__item-one {
	position: relative;
	top: 11px;
	right: 777px;
	width: 650px;
	height: 5px;
	border-radius: 150% 150% 50% 0%;
	transform: rotate(-3deg) skew(20deg);
	background: rgba(23, 114, 90, 0.685);
}
.decor__item-one::after {
	content: "";
	top: 11px;
	left: -148px;
	position: absolute;
	background: rgb(255, 145, 0);
	border: 2px solid rgb(216, 216, 216);
	width: 26px;
	height: 9px;
}
.decor__item-two {
	position: relative;
	top: -26px;
	right: -83px;
	width: 250px;
	height: 5px;
	border-radius: 150% 150% 50% 0%;
	transform: rotate(-3deg) skew(20deg);
	background: rgba(23, 114, 90, 0.685);
}
.decor__item-two::after {
	content: "";
	top: 11px;
	right: -65px;
	position: absolute;
	background: rgb(255, 145, 0);
	border: 2px solid rgb(216, 216, 216);
	width: 26px;
	height: 9px;
}
.decor__item-three {
	position: relative;
	top: -119px;
	left: -428px;
	width: 13px;
	height: 43px;
	background: rgb(172, 172, 172);
	border-left: 7px solid rgb(216, 216, 216);
	border-radius: 150%;
	transform: rotate(-13deg) skew(20deg);
}
.decor__item-three::after {
	content: "";
	position: absolute;
	top: 32px;
	left: -45px;
	width: 30px;
	height: 10px;
	background: rgb(216, 216, 216);
	border-bottom: 2px solid rgb(172, 172, 172);
	border-radius: 60% 0%;
	transform: rotate(17deg);
}
.decor__item-three::before {
	content: "";
	position: absolute;
	top: 25px;
	left: -35px;
	width: 36px;
	height: 10px;
	background: rgb(216, 216, 216);
	border-bottom: 2px solid rgb(172, 172, 172);
	border-radius: 60% 0%;
	transform: rotate(-19deg);
}
.inside {
	position: relative;
	bottom: 2327px;
	left: 828px;
	width: 9px;
	height: 60px;
	background: rgb(73, 73, 73);
	border-radius: 50px;
	transform: rotate(-30deg) skew(0deg);
	z-index: 1;
}
.inside::before {
	content: "";
	position: absolute;
	top: 27px;
	left: -7px;
	width: 7px;
	height: 30px;
	background: rgb(172, 172, 172);
	border-radius: 200% 0% 0% 0%;
}
.inside::after {
	content: "";
	width: 80px;
	height: 40px;
	border-radius: 0px 0px 0px 100%;
	background: rgb(14, 87, 67);
	border-bottom: 15px solid rgb(14, 64, 51);
	position: absolute;
	top: -75px;
	left: -615px;
	transform: rotate(-25deg);
}
.inside__item {
	position: absolute;
	top: 109px;
	left: 185px;
	width: 35px;
	height: 40px;
	background: rgb(73, 73, 73);
	border-right: 2px solid rgb(138, 138, 138);
	border-radius: 50% 50% 0% 0%;
	transform: rotate(30deg);
}
.inside__item::before {
	position: absolute;
	content: "";
	top: 30px;
	left: -8px;
	width: 50px;
	height: 30px;
	background: rgb(73, 73, 73);
	border-right: 2px solid rgb(138, 138, 138);
	border-radius: 20px 20px 0% 0%;
}
.inside__item::after {
	position: absolute;
	content: "";
	top: 220px;
	left: 460px;
	width: 40px;
	height: 21px;
	background: rgb(216, 216, 216);
	border-bottom: 4px solid rgb(172, 172, 172);
	border-radius: 0px 5px 5px 0px;
	transform: rotate(25deg) skew(0deg);
}
.bottom-shadow {
	position: relative;
	bottom: 2105px;
	left: 250px;
	width: 1280px;
	border-radius: 50%;
	z-index: 0;
	box-shadow: 0px 0px 105px 75px rgb(0, 0, 0);
}